:root {
    --mainColor: rebeccapurple;
}

.wrapper {
    width: 400px;
    height: 400px;
    background-color: var(--mainColor);
    transform: translateX(10px);

    & .img {
        width: 100%;
        height: 200px;
        border-radius: 50%;
    }

}

.test {
    font-size: 18px;
    color: var(--mainColor);
}